.app {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    padding: 50px;
    color: #2f2241;
}

.app__title {
    font-weight: 700;
    font-size: 46px;
    display: flex;
    justify-content: center;
    margin: 0;
    margin-bottom: 10px;
}

.app__subtitle {
    margin: 0;
    font-weight: 400;
    font-size: 24px;
    display: flex;
    justify-content: center;
}

.app__body {
    margin: 0 auto;
    background: #fff5fa;
    display: flex;
    border-radius: 10px;
    margin-top: 40px;
    max-width: 1000px;
    
}

.app__notes {
    width: 300px;
    border-right: 2px solid #deb9cb;
}


.app__icon img {
    width: 40px;
    height: 40px;
}

.app__icon {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.app__edit {
    width: 700px;
    display: flex;
    flex-direction: column;
}
